* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore

# Fix GitHub language detection
*.css linguist-vendored
public/css/** linguist-vendored
public/build/** linguist-vendored
resources/css/** linguist-vendored
resources/sass/** linguist-vendored
node_modules/** linguist-vendored
vendor/** linguist-vendored
